
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
}

li {
    list-style-type: none;
}

a{
    text-decoration:none ;
}

h1,
h2,
h3,
h4{
    color:#4D4D4D;
}

:root{
    --main-color:#4CAF4F;
    --text-color:#717171;
}

.btn{
    padding:12px 26px;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 3px;
            
    }

.text-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
       padding: 
        5px 20px
       
    }

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items:center;
    height: 60px;

    ul{
        display: flex;
        width: 570px;
        justify-content: space-between;
        align-items: center;
        li a{
            color: black;
        }
    }

}


main{
     padding: 60px 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
 

    .text-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;

        p{
            color:var(--text-color) ;
        }

        h1{
            font-size: 45px;
            line-height: 52.9px;
        }

        span{
            color: var(--main-color);
        }
        .btn{
            width: 120px;
        }
    }

    .image{
        display: flex;
        justify-content:center;
        align-items:center ;
       img{ 
        width: 400px;

    }
    }
}


.client{
   
   

    .brands{
         padding: 60px 80px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
          img{
                width: 50px;
                height: 50px;
             }

    }
}

.manage{
    .text-box{
        padding-top: 20px;
    }

    .manage-box{
         padding: 60px 60px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 10px;

             h1{
            font-size:20px ;
        }

        p{
            font-size: 15px;
            line-height: 20px;
        }
        }

       

    }
}

.unseen{
    padding: 60px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .img-box{
        img{
            width: 500px;
        }
    }

      .text-area-unseen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;

        p{
            color:var(--text-color) ;
        }

        h1{
            font-size: 40px;
            line-height: 52.9px;
        }

        span{
            color: var(--main-color);
        }
        .btn{
            width: 140px;
        }
    }
}

.local{
     padding: 60px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .box1{
        h1{
            padding: 5px 0px;
            font-size: 30px;
            span{
                color: var(--main-color);
            }
        } 

        p{
            padding: 5px 0px;
        }
    }

    .box2{

        display: flex;
        justify-content: space-around;


        .help-num{
            display: flex;
             padding: 10px 0px;
          img{
              width: 35px;
            height: 41px;
          }

            div{
                 padding-left: 8px;
                display: flex;
                flex-direction: column;
                h1{
                    font-size: 20px;
                
                }
                p{
                    font-size: 14px;
                    color: var(--text-color);
                }
            }
        }
    }

}


.heading{
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;


    h1{
        font-size: 45px;
    }
    .btn{
        margin-top:20px;
        width: 140px;
    }
   
}




footer {
height:auto;
background-color: #263238;
width: 100%;
padding:60px 60px;
    
    .footer-text-area {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      gap: 30px;

      .div1 {
        .social-media {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 30px;

          div {
            width: 40px;
            height: 40px;
            background-color: rgba(255, 255, 255 ,0.1 );
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              font-size: 20px;
              color: white;
            }
          }
        }
      }

      h1 {
        font-size: 22px;
      }
      .lists{
        display: grid;
        grid-template-columns: repeat(3,1fr);
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        li:hover {
          text-decoration: 1px underline white;
        }
      }
         }
      p {
        margin: 20px 0px;
      }
      ul li,
      h1,
      p {
        color: white;
      }

   
    }


  
}

   footer ul .input{
    margin-top: 10px;
        padding: 10px 20px;
         background-color: rgba(255, 255, 255,0.3);
         border: none;
         border-radius: 5px;
         width: 250px;
      
    }

    input::placeholder{
           color: #D9DBE1;
    }

@media (max-width:1100px) {
    main{
             padding: 70px 50px;

             .text-area h1{
                    font-size: 35px;
             }

              .image img{ 
             width: 350px;

         }
    }



    nav{
          padding: 0 50px;
    }

    .client{
        .brands{
             padding: 60px 50px;
           
        }
    }


     .manage{
      
        .manage-box{
              gap: 30px;
             padding: 70px 40px;
        }
    }

    .unseen{
           padding: 40px 50px;
            grid-template-columns: 1fr;
            place-items: center;
            gap: 50px;

           .img-box{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            order: 2;
            img{
                width: 600px;
            }
           }
            .text-area-unseen{
                text-align: center;
                align-items: center;
                h1{
                    font-size: 30px;
                }
            }
    }

    footer{
        padding: 40px 20px;
    }
}

@media (max-width:1000px) {
        footer{
                .footer-text-area {
        grid-template-columns: 1fr;
        gap: 60PX;
                }
    }
}

@media (max-width:900px) {
    nav{
        flex-direction: column;
       
        padding: 20px;
        gap: 10px;
        width: 100%;

         ul{
             justify-content: space-between;
        
        .btn{
            padding:12px 18px;
         

        }
    }
    }



}
@media (max-width:800px) {
        main{
            padding: 80px 20px;
            grid-template-columns: 1fr;
            gap: 60px;

            .text-area{
                align-items: center;
                text-align: center;
             
                h1{
                line-height: normal;
                }
            }
        }

         .client{
        .brands{
             padding: 40px 20px;
        }
    }

     .manage{
      
        .manage-box{
            grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
              gap: 30px;
             padding: 70px 40px;

        }
    }


    .local{

    .box1{
        h1{
            font-size: 25px;
        } 

        p{
            padding: 5px 0px;
            text-align: center;
        }
        
    }



    @media (max-width:1000px) {
        footer{
                .footer-text-area {
        grid-template-columns: 1fr;
        gap: 60PX;
                }
    }
}



}

     .local{
        grid-template-columns: 1fr;
        gap: 35px;
        .box1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

         .box2{

        display: flex;
        justify-content: space-around;

        .help-num{
            display: flex;
             padding: 15px 0px;
        }
    }
     }
     .local{
     padding: 30px 20px 40px 20px;
    }

 

}   

@media (max-width:700px) {
      
    .unseen{
           .img-box{
         
            img{
                width: 500px;
            }
           }
    }  
}

@media (max-width:600px){

    main{
           padding: 70px 20px;

           .text-area h1{
            font-size: 28px;
           }
    }
    nav{
         padding: 10px;
    }
    nav ul{
        width: 100%;
        flex-wrap: wrap;
    }

    .client{
        .brands {
            img{
                width: 40px;
                height: 40px;
             }
        }
    }

    .manage{
      
        .manage-box{
        
             padding: 70px 20px;
        }
}


 .unseen{

    padding:70px 20px ;
           .img-box{
            
            img{
                width: 400px;
            }
           }
    }  

.heading{
    padding: 40px 20px;
    div{
        h1{
            font-size: 30px;
        }
    }
}

footer {

            .footer-text-area{
                .lists{

                        grid-template-columns: repeat(1,1fr);
                        gap: 30PX;
                }
            }
    
    }

   
}

@media (max-width:500px){
    nav{
         padding: 10px;

         ul{

            li a{
                font-size: 14px;
            }
            .btn{
                display: none;
            }
         }
    }
     main{
           padding: 70px 20px;

           .text-area h1{
            font-size: 25px;
           }

               .image img{ 
             width: 300px;

         }
    }

    .client{
        .brands{
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            gap: 21px;
            text-align: center;
            img{
                width: 40px;
            }
        }
    }

     .unseen{

    padding:70px 20px ;
           .img-box{
            
            img{
                width: 300px;
            }
           }

           .text-area-unseen{
            h1{
                font-size: 25px;
            }
           }
    }  

     .local{
        .box2{
            justify-content: space-between;
        }
    }


  
}